<html lang="en">

<head>
    <meta charset="utf-8">

    <title>CryptoJS Example</title>
    <meta name="description" content="CryptoJs Example">
    <meta name="author" content="David Ulicny">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
    <script src="
    https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/aes.min.js"></script>

    <script>
        function encrypt_message() {
            if (document.getElementById("message").value === ''){
                alert('Empty message');
                return;
            }
            const bytes = CryptoJS.AES.encrypt(document.getElementById("message").value, document.getElementById("password").value);
            let b = {}
            b['data'] = bytes.toString()
            send_data(b)
        }

        function random_password() {
            var chars = "ABCDEFGHIJKLMNOPQRSTUVWXTZabcdefghiklmnopqrstuvwxyz";
            var nums = "0123456789";
            var specials = "$#!@*&^_=";
            const array = new Uint32Array(8)
            window.crypto.getRandomValues(array)
            let pwd = Array.from(array).map(x => chars[x % chars.length]).join('')
            return pwd
        }

        function check_password() {
            let pwd = document.getElementById("password")
            pwd.value = random_password()
        }

        function send_data(payload) {
            fetch('/drop/dropme', {
                method: 'POST',
                headers: {
                    'Content-type': 'application/json'
                },
                body: JSON.stringify(payload)
            })
                .then(response => response.json())
                .then(data => {
                    console.log(data)
                    document.getElementById('result').innerHTML = window.location.protocol + '//' +
                        window.location.host + '/get/' + data['path']
                    document.getElementById('message').value = ''
                    document.getElementById('password').value = ''
                })
                .catch((error) => {
                    console.log(error)
                })
        }
    </script>
</head>
<body>

<div class="container px-4">
    <div class="row align-items-start">
        <div class="col">
            <div class="p-3 w-50">
                <label for="message">Message</label>
                <textarea id="message" class="form-control p-2" rows="5"></textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="p-3 w-50">
                <label for="password">Password</label>
                <input type="text" id="password" class="form-control">
            </div>
        </div>
    </div>
    <div class="row gx-5">
        <div class="col">
            <div class="p-3 w-50">
                <input type="button" class="btn btn-primary" value="Generate Password" onclick="check_password()">
            </div>
        </div>
    </div>
    <div class="row gx-5">
        <div class="col">
            <div class="p-3">
                <input type="button" class="btn btn-secondary" value="Send" onclick="encrypt_message()">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <p id="result"></p>
        </div>
    </div>
</div>


</body>